<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.npike.android.wearunlock">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".WearUnlockApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="net.npike.android.wearunlock.activity.PrefActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.npike.android.wearunlock.activity.LogActivity"
            android:label="@string/title_activity_log" />
        <activity
            android:name="net.npike.android.wearunlock.activity.OnboardingActivity"
            android:label="@string/title_activity_onboarding"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name=".service.WearUnlockService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <service
            android:name=".service.WearDiscoveryService"
            android:exported="false"></service>

        <provider
            android:name="net.npike.android.wearunlock.provider.LogProvider"
            android:authorities="net.npike.android.wearunlock"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider>


        <receiver
            android:name="net.npike.android.wearunlock.receiver.WearUnlockDeviceAdminReceiver"
            android:description="@string/admin_description"
            android:label="@string/sample_device_admin"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver android:name="net.npike.android.wearunlock.receiver.StartupReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="net.npike.android.wearunlock.receiver.ShutdownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>
